<div class="parent">
    <div class="child">
        <h3>Change the div size</h3>
        <div [@changeDivSize1]=currentState1></div>
        <button (click)="changeState1()">Change Size</button>
    </div>
</div>
<div class="parent">
    <div class="child">
        <h3>Change the div size ballon effect </h3>
        <div [@changeDivSize2]=currentState2 class="ballon"></div>
        <button (click)="changeState2()">Change Size</button>
    </div>
</div>
<div class="parent">
    <div class="child">
        <h3>Fade-In and Fade-Out animation</h3>

        <button (click)="addItem1()">Add List</button>
        <button (click)="removeItem1()">Remove List</button>
        
        <div style="width:200px; margin-left: 20px">
          <ul>
            <li *ngFor="let list of listItem1" [@fadeInOut]>
              {{list}}
            </li>
          </ul>
        </div>
    </div>
</div>
<div class="parent">
  <div class="child">
      <h3>left-In and right-Out animation</h3>

      <button (click)="addItem2()">Add List</button>
      <button (click)="removeItem2()">Remove List</button>
      
      <div style="width:200px; margin-left: 20px">
        <ul>
          <li *ngFor="let list of listItem2" [@flyInOut]>
            {{list}}
          </li>
        </ul>
      </div>
  </div>
</div>
<div class="parent">
  <h1>a</h1>
</div>
